<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<%- include('./head'); %>	</head>
	</head>
	<body>
	<h1><a href="/"><%= title %></a></h1>
	<a href="impulses/new">new impulse</a>
	<a href="impulses">impulses</a>
</body>
</html>
