/* custom variables */
:root {
  --main-bg-color: rgb(200, 166, 82);
  --about-page-bg-color: rgb(130, 169, 171);
  --upload-page-bg-color: rgb(133, 165, 128);
  --secondary-bg-color: rgb(255, 251, 129);
  --fuzz-color: rgb(255, 251, 129);
  --break-point: 800px;
}

/* fonts */
@font-face {
  font-family: 'johnston-underground';
  src: url('~assets/fonts/johnston-underground-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* general body styles */
html,
body {
  font-family: 'johnston-underground';
  font-size: 1rem;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-width: 800px) {
  body {
    font-size: 1.2rem;
  }
}

:focus {
  outline: none !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}


/* nuxt transitions */
.page-leave-active {
  transition: opacity 0s;
}

.page-enter-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

/* custom flex classes */
[class*="--flex-column"] {
  display: flex;
  flex-direction: column;
}

[class*="--flex-row"] {
  flex: 1;
  display: flex;
  flex-direction: row;
}

[class*="--flex-item"] {
  flex: 1 1 200px;
}

[class*="-centre"] {
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* general element styles and classes */

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

h1,
h2,
h3,
h4 {
  text-decoration-line: underline;
}

.logo {
  max-height: 2rem;
}

@media only screen and (min-width: 800px) {
  .logo {
    max-height: 3rem;
  }
}

.click {
  cursor: pointer;
}

.click:hover {
  filter: sepia(30%);
  text-decoration-line: underline;
}

.fuzzy {
  padding: 10px;
  position: relative;
}

.fuzzy::before {
  content: '';
  background-color: var(--secondary-bg-color);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  filter: blur(12px);
}

.button-fuzzy {
  z-index: 1;
  position: relative;
  cursor: pointer;
}

.button-fuzzy:hover::before {
  z-index: -1;
  content: '';
  background-color: var(--secondary-bg-color);
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  position: absolute;
  filter: blur(5px);
}

.nav-item {
  font-size: 1.2em;
  color: black;
  text-decoration-line: none;
}

.nav-item:hover {
  text-decoration: solid;
  color: var(--secondary-bg-color);
}
